  .parentDiv{
    display: inline-block;
    position: relative;
    width: 1081.19px;
    height: 514px;
    margin: 4% 10%;
        }
  #top-left{
    width: 45%;
    height:45%;
    display: inline-block;
    position: relative;
    left:30px;
    border-radius: 6px;
    background: #e54c85;
    box-shadow: #00000078 0px 2px 5px 2px;
    
  }
  #top-right{
    width: 45%;
    height:45%;
    display: inline-block;
    position: relative;
    left: 70px;
    border-radius: 6px;
    background:  #1a70f9;
    box-shadow: #00000078 0px 2px 5px 2px;
  }
  #bottom-left{
    width: 45%;
    height:45%;
    display: inline-block;
    position: relative;
    left: 30px;
    border-radius: 6px;
    background:#2b5a84;
    box-shadow: #00000078 0px 2px 5px 2px;
  }
  #bottom-right{
    width: 45%;
    height:45%;
    display: inline-block;
    position: relative;
    left:70px;
    border-radius: 6px;
    background: #1bb1e4;
    box-shadow: #00000078 0px 2px 5px 2px;
  }
 
.socialNet{
  width: 90%;
  height: 45px;
  bottom: 60px;
  left: 5%;
  display: inline-block;
  position: relative;
}
h2{
  color: white;
}
.text{
  font-size: 12px;
  display: table;
  color: white;
}
.btn{
  display: table;
  top: 10px;
  position: relative;
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}